.submit-reply textarea {
	width: 100%;
	height: 46px;
	border: 1px solid #8d5959;
	font-size: 13px;
	text-transform: none;
	font-weight: 500;
	color: #7a7a7a;
	outline: none;
	padding: 10px 15px;
	margin-bottom: 30px;
	height: 180px;
	max-height: 70px;
	max-width: 100%;
	min-width: 300px !important;
}

.submit-reply button:hover {
    background-color: #573721;
}

.submit-reply a:hover {
    background-color: #573721;
    color: #fff;
}

.reply-button {
    display: inline-block;
    background-color: #f48840;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
    outline: none;
}

.submit-comment textarea {
    text-transform: none !important;
    border: 1px solid #8d5959 !important;
    max-height: 80px !important;
}

.submit-comment a:hover {
    background-color: #573721;
    color: #fff !important;
}

.comment-button{
    display: inline-block;
    background-color: #f48840;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
    outline: none;   
}

.fa-heart {
    color: red !important;
}

.empty-heart {
    color: #cdcdcd !important;
}

.btn-primary {
    display: inline-block;
    background-color: #f48840;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
    outline: none;
}

.btn-primary:hover {
	background-color: #fb9857;
}

.errorlist {
    color: red !important;
    padding-bottom: 10px !important;
}

.contact-us .contact-form input {
    margin-bottom: 10px !important;
}

input, textarea {
    text-transform: none !important;
}

.user-profile, .blog-add, .user-info {
    padding-top: 110px !important;
}

.user-picture {
    max-width: 100%;
    width: 170px;
    height: 170px;
}